.logged-tweet {
  background: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 1em 0;
  overflow: auto;
}

.logged-tweet .avatar {
  border-radius: 5px;
  float: left;
  height: 50px;
  width: 50px;
}

.logged-tweet .date-created {
  font-size: 12px;
}

.logged-tweet .fa {
  float: right;
  opacity: 0;
  padding: 0 0 0 6px;
}

.logged-tweet:hover .fa {
  float: right;
  opacity: 1;
  padding: 0 0 0 6px;
}

.logged-tweet .footer {
  border-top: 1px solid lightgrey;
  overflow: auto;
  padding: 8px;
}

.logged-tweet .handle {
  color: gray;
  float: right;
  font-size: 12px;
  position: relative;
  top: 10px;
}

.logged-tweet .header {
  background: lightgrey;
  overflow: auto;
  padding: 8px;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
}

.logged-tweet .username {
  float: left;
  font-size: 24px;
  left: 10px;
  margin: 0;
  opacity: 0.5;
  position: relative;
}

.logged-tweet:hover .username {
  opacity: 1;
}

.logged-tweet .user-content {
  margin: 0;
  padding: 20px 10px ;
}