.nav-bar {
  background: #00a087;
  color: #e8fdff;
  font-size: 200%;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav-bar .header {
  float: left;
  left: 10px;
  position: relative;
  top: 21px;
}

.nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

.nav-bar .button-compose {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: #00a087;
  float: right;
  font-size: 18px;
  opacity: 0.7;
  padding: 14px 5px;
  position: relative;
  top: 14px;
}

.nav-bar .button-compose:hover {
  color: black;
  opacity: 1;
}


